<h2>Consulta a Informações da Nota</h2>
<br>
<p><b>{{titulo}}</b></p>
<p>{{texto}}</p>
<p><b>Chave: </b>{{chave}}</p>
<p><b>Importância: </b> {{importancia}}</p>
<hr>
<a href="/nota/deleta/{{chave}}">Deletar</a> 
| <a href="/nota/altera/{{chave}}">Alterar</a>
<br><br><br>
<a href="/">Voltar</a>